<settings>
    <setting propertyKey="@Properties.jellyfin_server" title="@Strings.serverTitle">
        <settingConfig type="alphaNumeric" />
    </setting>
    <setting propertyKey="@Properties.jellyfin_username" title="Username">
        <settingConfig type="alphaNumeric" />
    </setting>
    <setting propertyKey="@Properties.jellyfin_password" title="Password">
        <settingConfig type="password" />
    </setting>
</settings>
